Pyrogram==2.0.106
PyrotgCrypto==1.2.6
httpx==0.26.0
apscheduler==3.10.4
sqlalchemy==2.0.27
sqlmodel==0.0.16
aiosqlite==0.19.0
PyYAML==6.0.1
aiofiles==23.2.1
pillow==10.2.0
cashews[redis]==7.0.0
alembic==1.13.1
sentry-sdk==1.40.4
